DATABASE_USER=DATABASE_USER
DATABASE_PASSWORD=DATABASE_PASSWORD
DATABASE_HOST=DATABASE_HOST
DATABASE_PORT=DATABASE_PORT
DATABASE_NAME=DATABASE_NAME
DATABASE_URL=DATABASE_URL

REDIS_HOST=REDIS_HOST
REDIS_PORT=REDIS_PORT

GEMINI_API_KEY=GEMINI_API_KEY
GEMINI_DEFAULT_MODEL=GEMINI_DEFAULT_MODEL

OPENAI_API_KEY=OPENAI_API_KEY
OPENAI_DEFAULT_MODEL=OPENAI_DEFAULT_MODEL

GROQ_API_KEY=GROQ_API_KEY
GROQ_DEFAULT_MODEL=GROQ_DEFAULT_MODEL

CLOUDINARY_CLOUD_NAME=CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET
CLOUDINARY_URL=CLOUDINARY_URL

SYSADMIN_EMAIL=SYSADMIN_EMAIL
SYSADMIN_PASSWORD=SYSADMIN_PASSWORD
SYSADMIN_PHONE=SYSADMIN_PHONE
SYSADMIN_NAME=SYSADMIN_NAME

JWT_SECRET=JWT_SECRET # Generate with `npm run generate:jwt-secret`

GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL=GOOGLE_CALLBACK_URL

FRONTEND_URL=FRONTEND_URL

RESEND_API_KEY=RESEND_API_KEY

SMSGATE_API_KEY=SMSGATE_API_KEY
SMSGATE_SENDER_ADDRESS=SMSGATE_SENDER_ADDRESS
SMSGATE_API_URL=SMSGATE_API_URL
